.container{
  display: flex;
  position: relative;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148703851.jpg?w=1060&t=st=1694530141~exp=1694530741~hmac=b182eb2f1187c1ac1f6cab4ba2d3aecf890ac04b55ad935fc2a7254d52c18c16");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
    
}

.win-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 25%;
    background-color:brown;
    z-index: 999;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    border: solid 5px white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

.win-message button{
  width: 20%;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: rgb(3, 3, 3);
  font-weight: bold;
  font-size: large;
  border: solid 2px;
  color: white;
}
.win-message button:hover{
  transform: scale(1.1)
}

.main {
  position: relative;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
  height: 100vh;    
  width: 70%;       /* Asegurarte de que tenga una altura completa */
  justify-content: center;
}


.sideBar{
  position: relative;
  display: flex;
  justify-content: center;
  width: 25%;
  height: 80vh;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid rgba(255, 255, 255, 0.2);
}

.crono{
  display: flex;
  width: 100%;

  color: white;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-style: oblique;
}

.dificult{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.dificult h2{
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  height: 10px;
}

.dificult button{
  height: 50px;
  width: 30%;
  margin-top: 5px;
  margin-right: 1%;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(228, 171, 16);
  font-weight: bold;
  font-size: medium;
  border: solid 2px;
}

.habilities{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top:0 ;
  flex-wrap: wrap;
  text-align: center;
}

.habilities h2{
  width: 100%;
  color: white;
  margin: 0;
  height: 10px;
}

.habilities button{
  height: 60px;
  width: 40%;
  margin-right: 10px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(228, 171, 16);
  font-weight: bold;
  font-size: medium;
  border: solid 2px;
}

.restart{
  width: 50%;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-top: 20%;
  background-color: red;
  font-weight: bold;
  font-size: large;
  border: solid 3px;
  transition: ease;
  color: black;
}

.restart:hover{
  transform: scale(1.1)
}

.rojo{
  color: red;
}

.lupa{
  cursor: pointer;
}

.span{
  font-weight: bold;
}

.description{
  position: absolute;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.61);
  display: flex;
  flex-wrap: wrap;
  margin-top: 310px;
}

.description p{
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: larger;
}

.active{
  background-color: rgb(0, 0, 0) !important;
  color: white;
}